.bg{
    background-image:url(../../../Images/Background.jpg);
    background-color: blueviolet;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:1698px 1131px;
    margin: 0 10em 0 ;

}

.center{
    display: flex;
    justify-content: center;
}

.container{
    margin-top: 3em;
    width: 400px;
    height: 400px;
    text-align:center;
}

.containerBG{
    position: absolute;
    width: 400px;
    height: 400px;
    margin-top: -1.5em;
    background-color: beige;
    opacity: 40%;
    z-index: -1;
    border-radius: 10px;
}

.bookDetail{
    display: inline-block;
    margin-top: 1em;
    font-weight:bold;
}

input, select{
    margin-left: 2em;
}

input[type=text], select, input[type=number]{
    padding: .5em;
}

select{
    position:inherit;
}


input[type=submit]{
    -webkit-appearance: none;
    padding:.2em 1em;
    margin-top: 1em;
    border-radius: .4em;
    background-color: silver;
    font-weight: bolder;
    font-size: medium;
}

.backButton{
    position:fixed;
    left: 1em;
    bottom: 1em;
    padding:.5em 2em;
    font-weight: bolder;
    font-size: large;
}