.bg{
    background-image:url(Images/LoginPageBG.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:1698px 1131px;
}

.center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    margin: 10%;
    width: 80%;
    text-align:center;
}

.containerBG{
    position: absolute;
    width: 65%;
    height:500px;
    background-color: beige;
    opacity: 40%;
    z-index: -1;
    border-radius: 30px;
    
}

.label{
    display: inline-block;
    font-weight:bolder;
    font-size:x-large;
    color: rgb(2, 2, 2);
    padding: 20px;
    margin-top: 10%;
}

.textBox{
    background-color:black;
    color: beige;
    padding: 20px;
    text-align:center;
    font-size: medium;
    border-radius: 10px;
}

.button{
    background-color:ghostwhite;
    opacity: 80%;
    margin-top: 30px;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 3px;
    font-weight: bolder;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 30px ;
}