.center{
    display: flex;
    justify-content: center;
}

.containerBG{
    position: absolute;
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: beige;
    opacity: 30%;
    z-index: -1;
}

.conditionInput{
    margin-left: 3em;
}

    input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number]{
            -moz-appearance: textfield;
        }

.userDetail{
    display: inline-block;
    margin-top: 1em;
}

input, select, textarea{
    margin-left: 2em;
}

input[type=text], input[type=email], input[type=tel], textarea{
    padding: .5em;
}
select{
    padding: .5em;
}

input[type=number]{
    padding: .5em;
}

input[type=submit]{
    -webkit-appearance: none;
    padding:.2em 1em;
    margin-top: 1em;
    border-radius: .4em;
    background-color: silver;
    font-weight: bolder;
    font-size: medium;
}
